@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--color-primary);
}

/* Scrollbar for Chromium based web browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}


main a {
  color: var(--color-tertiary);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
}

h3 {
  font-weight: normal;
}

p {
  line-height: 1.5;
  text-align: justify;
}

/* Main title */
header h1 {
  padding-bottom: 1rem;
  flex-basis: 100%;
  text-align: center;
  color: var(--color-primary);
}

/* Header */
header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-primary);
}

/* Navigation bar */
header a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  width: auto;
}

header nav {
  display: flex;
  flex: 1;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-around;
  list-style: none;
}

header nav a {
  text-decoration: none;
  flex: 1;
}

header nav li {
  padding: 1rem 1rem 0.5rem 1rem;
  color: var(--color-primary);
  text-align: center;
  border-bottom: medium solid transparent;
  transition: border-bottom 500ms;
  cursor: pointer;
}

header nav li:hover,
header nav .active {
  border-bottom: medium solid var(--color-primary);
}

@media screen and (max-width: 600px) {
  header > a {
    flex-basis: 100%;
  }

  header nav ul li {
    min-width: 5rem;
  }
}

body {
  /* Colors declarations */
  --website-background-color: rgb(40, 40, 40);
  --background-color-primary: rgb(129, 13, 132);
  --background-color-secondary: rgb(60, 60, 60);
  --background-color-tertiary: rgb(70, 70, 70);

  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(240, 80, 80);
  --color-tertiary: rgb(70, 110, 250);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--website-background-color);
}

/* Main page content */
main {
  padding: 5%;
}

main section:first-of-type {
  margin-top: 0;
}

main section {
  margin-top: 2rem;
}

main section p {
  margin-top: 0.5rem;
}

/* Footer */
footer {
  background-color: var(--background-color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer section {
  margin: 2rem;
}

footer img {
  height: 3rem;
  width: auto;
}

footer section:last-of-type img:first-of-type {
  margin-right: 1rem;
}
