.website-sections h2 {
  margin-bottom: 1rem;
}

.website-sections nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1fr, 1fr);
  grid-gap: 1rem;
}

.website-sections a h3 {
  flex-basis: 100%;
}

.website-sections a,
.website-sections a {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-color-secondary);
  transition: background-color 500ms;
  box-shadow: 0 0 0.3rem black;
  cursor: pointer;
}

.website-sections a:hover {
  text-decoration: none;
  background-color: var(--background-color-tertiary);
}

.website-sections a img,
.website-sections a p {
  margin-top: 1rem;
}

.website-sections img {
  width: auto;
  height: auto;
  margin-right: 1rem;
}

.website-sections a p {
  max-width: 70%;
  text-align: left;
}
